.right{
  float: right;
}
.left{
  float: left;
}
p {
  color: blue;
  font-family: fantasy;
  padding: 10px;


}
img {
 width: 300px;
}

body{
  background-color: rgba(0, 0, 0, 0.1);
}
.jumbotron{
  text-align: center;
}
h2{

}
.vac {
text-align: center;
border: solid;

}

footer{
  margin-top: 0px;
}
